*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Cormorant Garamond", serif;
    /* background:linear-gradient(to bottom, #000000, #050504); */
    /* color:#dddaae; */
    background-color:#F8F8FF;
    color:#908a1e;
    height:100vh;
    /* overflow:hidden; */
}
#heading h1{
    letter-spacing:4px;
}
#heading p{
    font-family: Arial, Helvetica, sans-serif;
    /* color:#505050; */
    color:#a9a66a;
}
.line{
    height:1px;
    /* background-color:#dddaae5a; */
    background-color:#8c8c8c9f;
}
.first{
    padding:10px 20px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* background:linear-gradient(145deg, #0a0a0a, #0e0e04); */
    /* color:#f4cf8f; */
    background-color:#fffef5;
    color:#908a1e;
    position:relative;
    overflow:hidden;
    border:2px solid #fffef5;
    box-shadow:0 3px 10px #dbdbdb;
}
.first::before{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    border-radius:3px;
    background-color: #fff317 ;
    animation:rotating 5s linear infinite;
    transition:all 1s linear;
    filter:drop-shadow(0 0 8px #ffd900);
}
.first::after{
    content:'';
    position:absolute;
    /* background:linear-gradient(145deg, #0a0a0a, #050501); */
    background:linear-gradient(160deg, #ffffff, #fffeef);
    border-radius:2px;
    height:98%;
    width:99.7%;
    left:1px;
}
@keyframes rotating{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
.first p, .first div{
    z-index:1;
    margin:0;
}
.original-amount{
    background-color:transparent;
    width:150px;
    /* color:#f4cf8f; */
    color:#908a1e;
    border:0;
    outline:0;
    text-align:right;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    padding-right:10px;
    font-size:28px;
}
.fa-circle{
    cursor:pointer;
}
.second{
    /* background:linear-gradient(145deg, #000000, #030301, #080806); */
    /* border:1px solid #5e4b4370; */
    /* box-shadow:0 0 10px #15130565; */
    /* color:#f4cf8f; */
    /* border:1px solid #908a1e; */
    background-color:#F8F8FF;
    border:1px solid #fff75e;
    box-shadow:0 5px 10px #dbdbdb;
    color:#908a1e;
    max-width:1000px;
    margin:auto;
}
span{
    font-family: 'Times New Roman', Times, serif;
}
.second > div{
    text-align:center;
}
.second h3, .second .amount{
    font-size:x-large;
}
.fDiv, .sDiv{
    font-family: Arial, Helvetica, sans-serif;
    /* background:linear-gradient(145deg, #070505, #050501); */
    /* border:1px solid #5e4b4350; */
    /* box-shadow:0 0 5px #0c0801; */
    background-color:#fffef5;
    box-shadow:0 2px 9px #dbdbdb;
}
.fDiv input, .sDiv input{
    /* color:#d0af67; */
    /* background-color:#000000; */
    background-color:rgb(255, 255, 255);
    border:1.5px solid #908a1e;
    padding:5px 0 5px 10px;
    color:#908a1e;
    width:95%;
}
.expense-list{
    max-height:148px;
    overflow-x:auto;
}
.input-box{
    position:relative;
}
.input-box input{
    margin:0 0 10px 0;
}
.circle{
    position:absolute;
    right:25px;
    top:25%;
    cursor:pointer;
}
.expense-list::-webkit-scrollbar{
    width: 8px;
}
.expense-list::-webkit-scrollbar-track{
    background: #e5e5e2;
    border-radius:5px;
}
.expense-list::-webkit-scrollbar-thumb{
    background: #14655b;
    border-radius: 5px;
}
.expense-list::-webkit-scrollbar-thumb:hover{
    background: #44ac94;
}
.add-expense-button{
    border:0;
    outline:0;
    background-color:transparent;
    margin-top:6px;
    color:#676766;
}
.sDiv input{
    background:linear-gradient(100deg,#14655b, #44ac94);
    color:snow;
    border:0;
    box-shadow:0 1px 7px #14655b;
}
footer{
    /* color:#d0af67; */
    max-width:1200px;
    margin:auto;
}
.total-remaining, .total-spent{
    font-family: 'Times New Roman', Times, serif;
}
@media(max-width:360px){
    .first p{
        font-size:14px;
    }
    .fa-circle{
        font-size:10px;
    }
    #heading h1{
        margin-bottom:0 !important;
        letter-spacing:1px;
    }
    #heading p{
        margin-bottom:0 !important;
        font-size:12px !important;
    }
    .line{
        display:none;
    }
    main.mt-4{
        margin:20px 0 !important;
    }
    .first{
        padding:5px 10px 5px 10px;
    }
    .original-amount{
        width:100px;
        font-size:17px;
        padding-right:7px;
    }
    .second{
        margin-top:20px !important;
        padding:15px 0 15px 0 !important;
        box-shadow:0 6px 8px #d0d0d0;
    }
    .second > div:nth-child(1){
        padding-right:5px;
    }
    .second > div:nth-child(2){
        padding-left:5px;
    }
    .second h3, .second .amount{
        font-size:16px !important;
        font-weight:bold;
    }
    .second h3{
        margin-bottom:0;
    }
    .second .amount{
        margin-bottom:10px;
    }
    .second span{
        font-weight: 100;
    }
    .fDiv p, .fDiv button, .sDiv p{
        font-size:12px !important;
    }
    .fDiv p.mb-2, .sDiv p.mb-2{
        margin-bottom:5px !important;
    }
    .fDiv button{
        margin-top:0;
    }
    .input-box input, .sDiv input{
        font-size:15px !important;
        /* width:100%; */
        padding:3px 0 3px 7px;
        margin:0 0 5px 0;
    }
    .circle{
        right:10px;
        top:43%;
        transform:translateY(-43%);
    }
    .save .circle{
        right:15px;
    }
    .expense-list{
        max-height:100px;
    }
    .fDiv, .sDiv{
        padding:7px !important;
    }
    .sDiv{
        margin-top:11px !important;
    }
    .save{
        margin-top:15px;
    }
    footer.mt-5{
        margin-top:15px !important;
        position:fixed;
        left:0;
        right:0;
        bottom:13px;
        background-color:#F8F8FF;
        box-shadow:0 -3px 8px #d0d0d0;
    }
    .footer{
        padding-top:7px;
    }
    .footer > div > div >p{
        font-size:20px !important;
    }
}